<nav>
    <div class="site-title">
        <a href="/">
            <img src="logo.png" alt="logo">
            <h1>Blog & Magic</h1>
        </a>
        <p class="navText">A Magical Blog Site</p>
    </div>
    <ul>
        <li class="navText"><a href="/">Blogs</a></li>
        <li class="navText"><a href="/about">About</a></li>
        <li class="navText"><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>