<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        <h2>OOPS! Page not found ˇ\_(0.o)_/ˇ</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>