<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About BNM</h2>
        <p>Blogs & Magic is my first ever full-stack app. It is meant as a learning tool for myself to master the process.</p>
        <p>I'm following The Net Ninja tutorial "Node.js Crash Course Tutorial" to begin with: <br />
        <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9jsz4LDYc6kv3ymONOKxwBU">See Here</a> <br />
        Later I'll be adding different features to enhance the site as well!</p>
        <p>You're welcome to explore.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>